* {
    box-sizing: border-box;
  }
body {
    background: #000E1E;
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}
#wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
header {
    position: sticky;
    top: 0;
    width: 100%;
}
header .top {
    width: 100%;
    background: #042E5D;
    border-radius: 0 0 10px 10px;
    padding: 0px 40px;
    display: flex;
    gap: 30px;
    align-items: center;
}
header .top figure {
    width: 50px;
    margin: 0;

}
header .top figure #logo-frame{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 0 auto;
    overflow: hidden;
}

header .top figure #logo-frame img {
    width: 125%;
    height: auto;
    object-fit: contain;
}

header .top figcaption {
    text-align: center;
    font-size: 0.75em;
    color: #FFE800;
    font-weight: bold;
}
h1 {
    color: #75CEB1;
}
#top-menu ul {
    display: flex;
    gap: 10px;
    padding: 0 20px;
    margin: 0;
  }
#top-menu li {
    display: block;
}
    
#top-menu a {
    text-decoration: none;
    display: block;

    border-top: none;
    border-radius: 0 0 10px 10px;
    padding: 5px 20px;
    background: #040120;
    color: #8c84d2;
    border-color: #8c84d2;
    border-width: 0 1px 1px 1px;
    border-style: solid;

    }
#top-menu li a:hover {
    background: #8c84d2;
    color: #040120;
}
#top-menu  li a.current,
#top-menu  li a.current:hover {
    background: #4437b2;
    color: #040120;
    font-weight: bold;
    border-color: #4437b2;
}

section {
    width: 100%;
    padding: calc(1vh - 30%) 0 0;
    margin-top: 20px;
}
section .caption {
    margin: none;
    display: flex;
    padding: 0 20px 0 0;
    justify-content: end;

}
section .caption h2 {
    margin: 0;
    padding: 5px 20px 0;
    border-radius: 10px 10px 0 0;
    background: #75ceb1;
    color: #001f15;
    width: auto;
    max-width: 50%;
    font-size: 1em;
}
section .content {
    background-color: none;
    padding: 20px;
    margin: none;
    border: 2px solid #75ceb1;
    border-radius: 5px;
    color:rgba(255, 255, 255, 0.5);
    color: #7BA1CC;
}
#about-content {
    display: flex;
    gap: 10px;
}
#about-content figure{
    width: 30%;
    padding: 0;
}
#about-content figure img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
section .title {
    color: #75ceb1;
}
section .content a {
    color: #75ceb1;
}
.portfolio {
    display: flex;
    gap: 30px;
}
.portfolio .example {
    width: 30%;
    border: 1px dashed #7ba1cc;
    border-radius: 5px;
    padding: 5px;
    margin: 0 auto;
    overflow: hidden;
}
.portfolio .example img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

footer {
    text-align: center;
    color: #fff;
    clear: both;

}
#bottom {
    color: #75ceb1;
    background: #001f15;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 0.8em;
    border: 2px solid #22aa7e;
    border-radius: 5px;

}